:root {
    --main-white: #ffeeee;
    --main-gray: #333333;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    background-color: var(--main-white);
    color: var(--main-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    text-decoration: none;
    width: 100vw;
}

#navbar {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-gray);
    z-index: 10;
    height: 10vh;
    line-height: 10vh;
}

#navbar ul {
    list-style: none;
    margin: 0 2vw;
}

#navbar li {
    text-align: center;
    display: inline;
    padding: 0vh 1vw;
    width: 100vw;
}

.left-arrow {
    float: left;
}

.right-arrow {
    float: right;
}

#navbar ul li a {
    text-decoration: none;
    background-color: var(--main-gray);
    color: var(--main-white);
    padding: 0 2vw;
    line-height: 10vh;
}

#navbar ul li a:hover {
    background-color: var(--main-white);
    color: var(--main-gray);
}

.title-image {
    max-width: 90vw;
    max-height: auto;
    padding: 2vw;
    border: 2px solid var(--main-gray);
    border-radius: 3vw;
    margin-top: 5vh;
}

.button {
    margin: 2vh 2vw;
    padding: 1vw;
    border: 2px solid var(--main-gray);
    border-radius: 1vw;
    text-decoration: none;
    color: var(--main-gray);
}

.button:hover {
    background-color: var(--main-gray);
    color: var(--main-white);
}

ul{
    list-style-type: disc; 
    text-align: left; 
    padding: 0 5vw;
    margin: 2vh 0;
}

h1 {
    width: 80vw;
    margin: 5vh auto;
    text-align: center;
}

h2 {
    width: 80vw;
    margin: 3vh auto;
    text-align: center;
}

h3 {
    width: 80vw;
    margin: 1vh auto;
    text-align: center;
}

.general-image {
    max-width: 90vw;
    max-height: auto;
    padding: 2vw;
}

.first-heading {
    margin-top: 13vh;
}

@media screen and (min-width: 600px) {
    .title-image {
        max-width: 70vw;
        max-height: auto;
        padding: 2vw;
        border: 2px solid var(--main-gray);
        border-radius: 3vw;
        margin-top: 5vh;
    } 
    
    .general-image {
        max-width: 60vw;
        max-height: auto;
        padding: 2vw;
    }

    h1 {
        width: 80vw;
        margin: 5vh auto;
        text-align: center;
    }
    
    h2 {
        width: 75vw;
        margin: 3vh auto;
        text-align: center;
    }
    
    h3 {
        width: 70vw;
        margin: 1vh auto;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .title-image {
        max-width: 50vw;
        max-height: auto;
        padding: 2vw;
        border: 2px solid var(--main-gray);
        border-radius: 3vw;
        margin-top: 5vh;
    } 

    .general-image {
        max-width: 40vw;
        max-height: auto;
        padding: 2vw;
    }

    h1 {
        width: 80vw;
        margin: 5vh auto;
        text-align: center;
        
    }
    
    h2 {
        width: 70vw;
        margin: 3vh auto;
        text-align: center;
    }
    
    h3 {
        width: 60vw;
        margin: 1vh auto;
        text-align: center;
    }
}
